body {
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    color: white;
}
.butt {
    border-radius: 20px;
    background: #5618db;
    color: white;
}
