#shop-header-panel {
    margin: auto;
    width: 60%;
    height: 80px;
    background: #25033D;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}

#shop-header-panel-body {
    /*background: gray;*/
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#cards-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5px;
    width: 80%;
}

#search {
    border: none;
    border-bottom: 1px solid gray;
}

#form-search {
    position: relative;
    margin-left: 5px;
    width: 250px;
}

#search-and-filter-mods {
    width: 100%;
    display: flex;
}

#search {
    z-index: 10;
    width: 100%;
    min-width: 160px;
    height: 42px;
    padding-left: 10px;
    border: 1px solid #7617AC;
    border-radius: 5px;
    outline: none;
    color: #9E9C9C;
}

#sub-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    border: none;
    background: #7617AC;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#sub-search:before {
    font-family: FontAwesome, serif;
    content: "\f002";

    color: #F9F0DA;
}

#sub-search:hover, #sub-search:active {
    font-size: 24px;
}

#balance {
    margin-right: 5px;
    font-size: 18px;
}

#balance-text {
    font-size: 16px !important;
}

#balance-butt {
    margin-left: 7px;
    min-width: 102px;
    font-size: 16px;
    font-weight: 500;
    width: 16%;
    height: 35px;
    border: none;
}
.fa-coins {
    color: lightgray;
}

#mod-butt {
    margin-left: 10px;
    height: 42px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

#normal-screen-balance-block {
    display: flex;
    align-items: center;
    margin-left: auto;
}
#low-screen-balance-block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.low-screen-purchases-history-butt-area {
    display: flex;
    justify-content: center;
}
#balance-low-screen {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: solid 1px pink;
}
#low-screen-balance-block-items {
    display: inline-flex;
    justify-content: center;
    background: #25033D;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

@media (max-width: 480px) {
    #mod-butt {
        /*height: 50px !important;*/
    }
    #shop-header-panel {
        width: 90% !important;
    }
}

@media (max-width: 1150px) {
    #search-and-filter-mods {
        justify-content: center;
    }
}

@media (max-width: 680px) {
    #mod-butt {
        white-space: normal;
        font-size: 13px;
    }
    .purchases-history-butt {
        margin-left: 0 !important;
        font-size: 12px;
    }
    #shop-header-panel {
        width: 80%;
    }
}

.card {
    width: 270px;
    height: 320px !important;
    background: #25033D !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px !important;
}

.card-img-top {
    border-radius: 7px;
    width: 90px !important;
    height: 90px;
    margin: auto;
    margin-top: 20px;
}

.card-title {
    text-align: center;
    height: 50px;
}

.card-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px !important;
    font-size: 15px;
    height: 30px;
    color: gray;
}

.card-button-area {
    display: flex;
    justify-content: center;
}

.card-btn {
    font-size: 18px !important;
    margin-top: 30px;
    width: 100px;
    padding: 7px;
    background: #5400c0 !important;
}

#buy-item-range {
    text-align: center;
    outline: none;
    background: none;
    width: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    color: lightgray;
    font-size: 15px;
}

#buy-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buy-label {
    color: lightgray;
}

.dropdown-item:hover {
    background: lightgray !important;
}
.purchases-history-butt-area {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.purchases-history-butt {
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
#normal-screen-purchases-history-butt {
    margin-left: 10px;
}
