#shop-header-panel {
    margin: auto;
    width: 60%;
    height: 80px;
    background: #25033D;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}
#shop-header-panel-body {
    /*background: gray;*/
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#cards-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5px;
    width: 80%;
}
#search-end-filter {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}
#search {
    border: none;
    border-bottom: 1px solid gray;
}
#form-search {
    position: relative;
    margin-left: 5px;
    width: 250px;
}
#search {
    z-index: 10;
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 1px solid #7617AC;
    border-radius: 5px;
    outline: none;
    color: #9E9C9C;
}
#sub-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    border: none;
    background: #7617AC;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
#sub-search:before {
    font-family: FontAwesome, serif;
    content: "\f002";

    color: #F9F0DA;
}
#sub-search:hover, #sub-search:active {
    font-size: 24px;
}
#balance {
    margin-right: 5px;
    font-size: 18px;
}
#balance-text {
    font-size: 16px !important;
}
#balance-butt {
    margin-left: 5px;
    min-width: 102px;
    font-size: 16px;
    font-weight: 500;
    width: 16%;
    height: 35px;
    border: none;
}
.fa-coins {
    color: lightgray;
}
#mod-butt {
    margin-left: 10px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px !important;
    border: none;
}
#normal-screen-balance-block {
    display: flex;
    align-items: center;
    margin-left: auto;
}
#low-screen-width-balance {
    display: flex;
    justify-content: center;
    align-items: center;
}
#balance-low-screen {
    display: flex;
    align-items: center;
    background: #25033D;
    padding: 10px;
    border-radius: 20px;
}
@media (max-width: 480px) {
    #mod-butt {
        height: 50px !important;
    }
}
@media (max-width: 1000px) {

}
@media (max-width: 680px) {
    #mod-butt {
        font-size: 11px;
    }
    #shop-header-panel {
        width: 80%;
    }
}
@media (max-width: 600px) {
    #card {

    }
    #card-img-top {

    }
    #card-title {

    }
    #card-text {

    }
    #card-btn {

    }
}
.card {
    width: 270px;
    height: 320px !important;
    background: #25033D !important;
    border: 2px solid rgba(0,0,0,0.2) !important;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px !important;
}
.card-img-top {
    width: 90px !important;
    height: 90px;
    margin: auto;
    margin-top: 20px;
}
.card-title {
    height: 50px;
}
.card-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px !important;
    font-size: 15px;
    height: 30px;
    color: gray;
}
.card-btn {
    font-size: 18px !important;
    margin-top: 30px;
    width: 100px;
    padding: 7px;
}
.buy-item-range {
   text-align: center;
    outline: none;
    background: none;
    width: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    color: lightgray;
    font-size: 15px;
}
.buy-label {
    color: lightgray;
}
